.serverless/cloudformation-template-create-stack.json
.serverless/cloudformation-template-update-stack.json
.serverless/custom-resources.zip
.serverless/lambda-trigger-example.zip
.serverless/serverless-state.json
